<header>
  <h1>Game Library</h1>
  <div class="links-container">
    <div class="links">
      <a href="/">Home</a>
      <a href="/games">Games</a>
      <a href="/studios">Studios</a>
      <a href="/categories">Categories</a>
    </div>
    <div>
      <a href="/add-games">Add New Games</a>
    </div>
  </div>
</header>
