<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/common.css" />
    <link rel="stylesheet" href="/categories.css" />
    <title>All Categories</title>
  </head>
  <body>
    <%- include(`partials/header.ejs`)%>
    <div class="main-container">
      <h1>All Categories</h1>
      <div class="title-bar card">
        <div class="card-f">
          <div>Category</div>
          <div>No. of Titles</div>
        </div>
        <div class="card-l">Actions</div>
      </div>
      <ul>
        <%categories.forEach(c=>{%>
        <div class="card">
          <div class="card-f">
            <li><%= c.category%></li>
            <li><%= c.count%></li>
          </div>
          <div class="card-l">
            <a href="/categories/<%= c.category%>">View</a>
          </div>
        </div>
        <%});%>
      </ul>
    </div>
  </body>
</html>
