<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Games</title>
  </head>
  <body>
    <%- include(`partials/header.ejs`)%>
    <h1>All games</h1>
    <ul>
      <%games.forEach(g=>{%>
      <li><%= g.title%></li>
      <%});%>
    </ul>
  </body>
</html>
