<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/index.css" />
    <title>Home</title>
  </head>
  <body>
    <%- include(`partials/header.ejs`)%>
    <h1>Testing</h1>
    <div>
      <div>Games : <%= count.title%></div>
      <div>Categories : <%= count.category%></div>
    </div>
  </body>
</html>
